body{
    margin: 0;
    padding: 0;
    background-color: #f9e6ff;
}

.heading{
    text-align: center;
    color: #750099;
    margin-top: 50px;
}

.board{
    border: 3px solid #750099;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    background-color: #d966ff;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgb(157, 157, 157);
}

.row{
    display: flex;
}

.box{
    background-color: #ffe6f0;
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.box:hover{
    box-shadow: 0 0 20px 2px black;
}