body{
    margin: 0;
    padding: 0;
    background-color: #f9e6ff;
}

.heading{
    text-align: center;
    color: #750099;
    margin-top: 50px;
}

.current-player{
    text-align: center;
    font-weight: bold;
}

.board{
    border: 3px solid #750099;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    background-color: #d966ff;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgb(157, 157, 157);
}

.row{
    display: flex;
}

.box{
    background-color: #ffe6f0;
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    box-shadow: 0 0 5px 2px black;
    cursor: pointer;
    transition: 0.5s;
}

.reset-btn{
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

#dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 10;
}

#dialog h2 {
    color: #750099;
}

#dialog button {
    padding: 10px 20px;
    background-color: #750099;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dialog button:hover {
    background-color: #9c33cc;
}